#jogo{
    background-color: transparent; 
    width: 640px;
    height: 480px;
    pointer-events: none; 
}
#backgroundJogo{
    opacity: 0.3;
    z-index: 1;
}
.case {
    position: absolute;
    width: 187px;
    height: 250px;
    user-select: none;
    margin-top:10.5em;
    margin-left:27em;
    pointer-events: none; 
    z-index: 3;
}
#capaJogo{
    position: absolute;
    margin-top:10.875em;
    margin-left:28.5em;
    z-index: 2;
}
