#jogo{
  width: 640px;
  height: 480px;
  overflow: hidden;
  position: relative;
}
#logoJogo{
  position: absolute;
  margin-top: 15em;
  margin-left:23.5em;
  z-index: 4;
}
#backgroundJogo{
  mask-image: linear-gradient(90deg, transparent 55%, black 100%);
  position: absolute;
  overflow: hidden;
  display: flex;
  width: 640px;
  height: 480px;
  justify-content: end;
  z-index: 1;
}
#backgroundJogo img {
  cursor: move; 
  position: absolute;
  z-index: 2; 
}
