#jogo{
  background-color: #000;
  width: 640px;
  height: 480px;
  overflow: hidden;
  position: relative;
}
#logoJogo{
  position: absolute;
  margin-top: 15em;
  margin-left:23.5em;
  z-index: 4;
}
.efeito {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgba(0,0,0,.4), rgba(0,0,0,1.1) 50%);
  z-index: 2;
  pointer-events: none; 
}
#backgroundJogo{
  position: absolute;
  display: flex;
  width: 640px;
  height: 480px;
  justify-content: end;
  z-index: 1;
}
#backgroundJogo img {
  cursor: move; 
  position: relative; 
  z-index: 2; 
}