*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #303030;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main{
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 1em;
}
article{
    margin: 1em;
    display: flex;
    gap:1em;
}
article input{
    text-align: center;
    font-size: 1.1em;
}
a{
    color: #fff;
    text-decoration: none;
    background-color: #111;
    padding: 0.7em;
    text-align: center;
    vertical-align:middle;
    border-radius: 0.5em;
}
a:hover{
    background-color: #1b1b1b;
}
#jogo{
    background-color: #000;
    width: 640px;
    height: 480px;
    pointer-events: none; 
}
#backgroundJogo{
    opacity: 0.3;
    z-index: 1;
}
