#preview {
  position: absolute;
  margin-top: 14.04em;
  margin-left: 24.75em;
  z-index: 4;
}
#preview2 {
  opacity: 2;
}
#preview3 {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
.jogo {
  flex-direction: column;
  user-select: none;
}
.case img {
  width: 210px;
  height: 194px;
  margin-top: 14em;
  margin-left: 24.7em;
  z-index: 5;
  user-select: none;
}