#jogo{
  background-color: transparent;
  width: 640px;
  height: 480px;
  overflow: hidden;
  position: relative;
  display: flex;
}
#backgroundJogo{
  position: absolute;
  z-index: 1;
}
#capaJogo {
  position: absolute;
  margin-left: 26em;
  z-index: 3; 
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  background-color: #2D73FF;
  width: 230px;
  height: 480px;
  display: flex;
  justify-content: center;
}
#capaJogo img {
  margin-right: 6em;
  cursor: move; 
  position: relative; 
  z-index: 2; 
}
#personagemJogo{
  position: absolute;
  z-index: 4;
  margin-left: 24em;
  margin-top: 2em;

}
#logoJogo{
  position: absolute;
  margin-top: 18em;
  margin-left:25em;
  z-index: 5;
}
#logoJogo img{
  cursor: move; 
}

#seletor {  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
#seletor::-webkit-color-swatch {
  border-radius: 50%;
  border: 2.5px solid #ffffff;
}
#seletor::-moz-color-swatch {
  border-radius: 50%;
  border: 2.5px solid #ffffff;
}
